.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
  font-size: 17px;
  padding-bottom: 30px;
}
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  border-radius: 10px;
  background: #1877f2;
  color: #fff;
  font-size: 18px;
}
